# MacOS
.DS_Store

# Config
.vscode/settings.json
.vscode/launch.json

# Test


# Target
target/lib/*.jar
target/*.jar
*.class
target/maven-status/maven-compiler-plugin/**/*.lst
target/surefire-reports/*.txt
